.table-wrapper-scroll-y {
    display: block;
    max-height: 550;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.title-div {
    font-size: 24px;
    border-bottom: solid 0.3px;
}