<div class='row'>
    <div class="col-6"><b>{{constants.name}}:</b> {{translatedPerson.name}}</div>
    <div class="col-3"><b>{{constants.cpf}}:</b> {{translatedPerson.cpf}}</div>
</div>
<div class='row mt-3'>
    <div class="col-3"><b>{{constants.birthDate}}:</b> {{birthDateConverted}}</div>
    <div class="col-3"><b>{{constants.genderType}}:</b> {{translatedPerson.genderType}}</div>
    <div class="col-3"><b>{{constants.maritalStatus}}:</b> {{maritalStatus}}</div>
</div>
<div class='row mt-3'>
    <div class="col-6"><b>{{constants.fatherName}}:</b> {{translatedPerson.fatherName}}</div>
</div>
<div class='row mt-3'>
    <div class="col-6"><b>{{constants.motherName}}:</b> {{translatedPerson.motherName}}</div>
</div>
<div class='row mt-3'>
    <div class="col-3"><b>{{constants.birthCountry}}:</b> {{translatedPerson.birthCountry}}</div>
    <div class="col-6"><b>{{constants.birthCity}}:</b> {{translatedPerson.birthCity}}</div>
</div>
<div class='row mt-3'>
    <div class="col-3"><b>{{constants.breed}}:</b> {{breed}}</div>
</div>

<div class="add-btn d-flex justify-content-center">
    <button type="button" class="btn btn-secondary" (click)="removeClicked()">{{constants.remove}}</button>
    <button type="button" class="btn btn-primary ml-2" (click)="editClicked()">{{constants.edit}}</button>
</div>